<div class="offcanvas-header">
    <h4 class="offcanvas-title text-light">Información</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>
<div class="offcanvas-body">
    
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>ID:</strong></label>{{data.id}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Medicamento:</strong></label>{{data.nameMedicine}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Descripción:</strong></label>{{data.description}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Cantidad disponible:</strong></label>{{data.quantityAvailable}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Costo:</strong></label>{{data.cost}}
        </div>
    </div>
</div>