<div class="offcanvas-header">
    <h4 class="offcanvas-title text-light">Información</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>
<div class="offcanvas-body">
    
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>ID:</strong></label>{{data.id}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Paciente:</strong></label>{{data.patient.firstName + ' ' + data.patient.lastName}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Historia clínica:</strong></label>{{data.medicalRecords.dateCreated | date: 'dd-MM-YYYY HH:mm a'}} {{data.medicalRecords.nameAppointment}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Fecha facturación:</strong></label>{{data.date | date: 'dd-MM-YYYY HH:mm a'}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Total a pagar:</strong></label>{{data.totalAmount | currency:'$':'symbol':'1.0-0'}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Detalles:</strong></label>{{data.details}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Estado de pago:</strong></label>{{data.paymentStatus}}
        </div>
    </div>
<br>
    @if(totalAmmount > 0){
        <table class="table table-dark">
            @if(medicineList.length > 0){
            <thead>
                <tr>
                    <th scope="col">Medicamento</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            }
            <tbody>
                @for (item of medicineList; track $index) {
                <tr>
                    <td>{{item.medicineInventory.nameMedicine}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{(item.amount * item.medicineInventory.cost) | currency:'$':'symbol':'1.0-0'}}</td>
                </tr>
                }
                <tr>
                    <td colspan="2" class="text-end"><strong>Valor de la cita</strong></td>
                    <td>{{valueAppointment | currency:'$':'symbol':'1.0-0'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-end"><strong>Total</strong></td>
                    <td>{{totalAmmount | currency:'$':'symbol':'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
        }
</div>