<div class="offcanvas-header">
    <h4 class="offcanvas-title text-light">Información</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>
<div class="offcanvas-body">
    
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>ID:</strong></label>{{data.id}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Nombres:</strong></label>{{data.firstName}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Apellidos:</strong></label>{{data.lastName}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Número documento:</strong></label>{{data.Cedula}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Correo:</strong></label>{{data.email}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Celular:</strong></label>{{data.phone}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Fecha Nacimiento:</strong></label>{{data.birthDate}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Dirección:</strong></label>{{data.address}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Género:</strong></label>{{data.gender}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Contacto de emergencia:</strong></label>{{data.emergency_contact}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Teléfono contacto emergencia:</strong></label>{{data.emergency_contact_phone}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Compañía de seguros:</strong></label>{{data.insurance_entity}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Número de póliza:</strong></label>{{data.policy_number}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Estado de póliza:</strong></label>{{data.Policy_state ? 'Activa' : 'Inactiva'}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 ps-4 text-light">
            <label class="me-2 "><strong>Vigencia de póliza:</strong></label>{{data.policy_validity}}
        </div>
    </div>
</div>
